*{
    margin:0;
    padding: 0;
    box-sizing: border-box; 
}
body {
    background-color: beige;
}

.nav {
    display: inline-block;
}
.edit-link{
    display:none;
}
#post-2{
    display: none;
}
.site-description{
    display: none;
}
#primary-menu{
    display: none;
}
.petitMenu li{
    display: inline-block;
    text-decoration: none;
    margin: 20px;
}

.text1{
    color:red;
}
.text2{
    color:blue;
}
.title:hover {
    color: $color1;
}
.title:focus{
    color: $color2;
}
.title:active{
    color: $color3;
}
.grid-cell{
    border:  1px solid black;
    border-collapse: collapse;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.grid-cell a{
    display: block;
 
    color:white;
    margin-top: 10px;

}
.dup{
    margin-top:10px;
    background-color: red;
}
.one{
    background-color: darken($c5, 40%);
}
.two{
    background-color: darken($c5, 30%);
}
.three{
    background-color: darken($c5, 20%);

}
.four{
    background-color: darken($c5, 10%);

}
.five{
    background-color: $c5;

}
.nom{
    text-align: center;

    background-color: grey;
    border: 1px solid black;
  
}

